.u-section-1 .u-sheet-1 {
  min-height: 777px;
}

.u-section-1 .u-text-1 {
  margin: 105px auto 0;
}

.u-section-1 .u-group-1 {
  width: 475px;
  min-height: 493px;
  height: auto;
  margin: 32px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 429px;
  width: 411px;
  margin: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  font-family: Raleway,sans-serif;
  background-image: none;
  display: inline !important;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1rem;
  font-family: Raleway,sans-serif;
  background-image: none;
  display: inline !important;
  padding: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}