 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 9619px;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 9347px;
  height: auto;
}