body {
    display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 1rem;
  text-align: center;
  background-color: #1A202C;
}

.navbar {
    margin-right: 5vw;
    margin-left: 5vw;
    width: 90vw;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    position: sticky;
    top: 0;
    height: 11vh;
    background-color: rgba(180, 180, 180, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: rgba(28, 28, 28, 0.2) 0px 0px 10px;
    border-radius: 13px;
}

.navbar-right {
    width: 20%;
    justify-content: right;
    right: 10px;
    position: absolute;
    align-items: center;
}

.navbar-left {
    width: 20%;
    justify-content: left;
    left: 10px;
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
}

.logo-header {
    width: 25%;
    margin-top: -30px;
    justify-content: left;
    left: 10px;
    position: absolute;
    align-items: center;
}

.footer {
    margin-right: 5vw;
    margin-left: 5vw;
    width: 90vw;
    align-items: center;
    padding: 1.1rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    bottom: 0;
    position: absolute;
    background-color: aqua;
    height: 8vh;
    background-color: rgba(180, 180, 180, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: rgba(28, 28, 28, 0.2) 0px 0px 10px;
    border-radius: 13px;
}

.footer-left {
    width: 20%;
    justify-content: left;
    left: 10px;
    align-items: center;
}

.footer-right {
    width: 20%;
    justify-content: right;
    right: 10px;
    align-items: center;
}

.footer-center {
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.socialIcon-foot {
    color: RGBA(255, 255, 255, 0.36);
    margin-left: 0.8rem
}

.socialIcon-foot:hover {
    color: RGBA(255, 255, 255, 0.80);
}

.main-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 0rem;
    align-content: center;
    margin: auto;
}

.second-container {
    background-color: #2D3748;
    width: 100%;
    height: 90%;
    padding-bottom: 0rem
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.feature-img {
    width: 10rem;
    height: 10rem;
}

.feature-card {
    background-color: RGBA(0, 0, 0, 0.36);
    padding:2rem;
    width: 29vw;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-container {
    background-color: #171923;
    width: 100%;
    height: 40vh;

}

.link {
    margin-right: 3px
}

.abt-main-container {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0rem;
    align-content: center;
    margin: auto;
}

.abt-second-container {
    background-color: #2D3748;
    width: 100%;
    height: fit-content;
    padding-bottom: 10rem
}

.signup-container {
    margin: auto;
    width: 50vw;
    height: fit-content;
    background-color: rgba(180, 180, 180, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: rgba(28, 28, 28, 0.2) 0px 0px 10px;
    border-radius: 13px;
    padding: 3rem;
    flex-direction: row;
}

.signup-link {
    color: #4FD1C5;
    font-weight: 800;
}

.signup-link:hover {
    text-decoration: underline;
}

.signup-link-2 {
    font-size: 15px;
    color: #A0AEC0
}

.signup-link-2:hover {
    color: #4FD1C5;
    font-weight: 800;
    text-decoration: underline;
}